/* ---------------- */
/* 	Import fonts	*/
/* ---------------- */

// Lato Light
// $font-headings
@include font-face(
  'Lato-light', 
    font-files(
	  'Lato-light.woff', woff,
	  'Lato-light.otf', opentype,
	  'Lato-light.svg', svg ),
  'Lato-light.eot'
);

// Orienta
// $font-body
@include font-face(
  'Orienta', 
    font-files(
	  'Orienta.woff', woff,
	  'Orienta.otf', opentype,
	  'Orienta.svg', svg ),
  'Orienta.eot'
);

// Entypo
// $font-glyph
@include font-face(
  'Icomoon', 
    font-files(
	  'icomoon.woff', woff,
	  'icomoon.otf', opentype,
	  'icomoon.svg', svg ),
  'icomoon.eot'
);

/* ---------------- */
/* 	  Set styles	*/
/* ---------------- */

body {
	margin: 0;
	padding: 0;
	
	font-family: $font-body;
	color: $color-text;
	font-size: $base-font-size;
	text-align: center;
	letter-spacing: 0.015em;
}


small {
	font-family: $font-plain;
	font-size: 70%;
}


h1,
h2,
h3
h4,
h5,
h6 {
	font-family: $font-headings;
}

a, 
a:visited {
	color: blue;
}

.primary-text{
	color: $color-primary;
}

.secondary-text {
	color: $color-secondary_light;
}

.light-text {
	font-family: $font-light;
}

.huge {
	font-size: 14em;
}

.batman {
	color: $color-grey_light;
	
	.glyph{
		color: $color-grey_XXlight;
		text-shadow: 1px 1px 1px $color-grey_light;
	}
	
}
// http://css-tricks.com/html-for-icon-font-usage/
.glyph:before {
  font-family: $font-glyph;
  content: attr(data-icon);
  speak: none;
}
.glyph {
	display: inline-block;
	*zoom:1;
	*display:inline;
}