.main-header {
	height:10em;
	padding-top: 2em;
	background-image: url(../img/header.jpg);
	background-size: cover;
	-ms-behavior: url(js/backgroundsize.min.htc); // relative to html not css
	
	.logo {
		padding-top: 0.8em;
		img{
			position: absolute;
			left: 1em;
		}
	}
}

.blurb {
	width: 120%;
	padding: 0 20%;
	margin-left: -10%;
	box-shadow: 0 3px 2px $color-grey_XXlight;
}

.about-me {
	padding-bottom: 2em;
}

.heading {
	margin: 0 1.66665% 1em;
	padding: 0.6em;
	background-color: $color-primary_light;
	border: .094em solid $color-primary; 
	border-radius: 3px;
	box-shadow: 0 .375em .313em -0.313em $color-grey_dark, inset 0 .063em $color-primary_Xlight, inset 0 -0.188em $color-primary;
	color: $color-primary_darkish;
	text-shadow: 0 1px lighten($color-primary_light, 15%);
	font-size: 30px;
 }

.main {
	width: 94%;
}
