.print,
.web,
.code {
	padding-right: 24px;
}

.web {
	background-color: $color-grey_XXlight;
}


.port-img {
		width: 40%;
		height: auto;
		margin: 1em 1%;
		@include border-radius(3px);
		@include transition(all 0.3s ease-in 0s); 
		
		&:hover { border: 3px solid $color-grey_light}
	}

.port-item {
		@extend .clearfix;
		padding-bottom: 0.8em;
		border-bottom: 1px solid $color-grey_light;
}	
.port-text {
	width: 53%;
	padding: 1em 0 0 0.8em;
	display: block;
	text-align: left;

	.code & {
		width: 100%;
	}
}	
.light-text {
	font-size: 85%;
	line-height: 1.2;
	
	.port-text & {
		margin-top: 0.4em;
		margin-bottom: 0;
	}
	
	strong {
		margin: 0.8em auto;
		display: block;
		font-weight: normal;
		font-family: $font-body;
	}
}	

ul.port-list {
	list-style: none;
	margin:0 0 0.8em 10px;
	padding: 0;
	
	li {
		@extend .light-text;
		margin: 0;
		padding: 0;
		text-indent:-5px;
		
		&:before{ content:"-"; position:relative; left:-5px;}
	
	}
	
}

.port-link  {
	display: block;
	text-align: center;
	@extend .delta
}
