$color-text: 				#444;


$color-primary: 			#284f90;
$color-primary_desaturate: 	lighten(desaturate($color-primary, 70%),60%);
$color-primary_Xlight: 		lighten($color-primary, 30%);
$color-primary_light: 		lighten($color-primary, 10%);
$color-primary_darkish: 	darken($color-primary, 5%);
$color-primary_dark: 		darken($color-primary, 15%);
$color-primary_Xdark: 		darken($color-primary, 30%);

$color-secondary: 			#000; 
$color-secondary_Xlight:  	lighten($color-secondary, 30%);
$color-secondary_light: 	lighten($color-secondary, 15%); 
$color-secondary_dark: 		darken($color-secondary, 15%); 
$color-secondary_Xdark: 	darken($color-secondary, 30%); 

$color-tertiary: 			#000; 
$color-tertiary_Xlight:  	lighten($color-tertiary, 30%);
$color-tertiary_light: 		lighten($color-tertiary, 15%); 
$color-tertiary_dark: 		darken($color-tertiary, 8%); 
$color-tertiary_Xdark: 		darken($color-tertiary, 30%); 


$color-grey: 				#808080;
$color-grey_XXlight: 		lighten($color-grey, 47%);// #f8f8f8
$color-grey_Xlight: 		lighten($color-grey, 42%);// #ebebeb
$color-grey_light: 			lighten($color-grey, 30%);// #ccc
$color-grey_dark: 			darken($color-grey, 30%);
$color-grey_Xdark: 			darken($color-grey, 40%);


$color-alert: 				#c60f13;
$color-success: 			#5da423;
$color-highlight: 			#ffff99;
