$font-body: 			"Orienta", "Helvetica Neue", "Helvetica", sans-serif;
$font-light: 	 		"Lato-light", "Helvetica Neue", "Helvetica", sans-serif;
$font-headings: 		"Lato-light", "Helvetica Neue", "Helvetica", sans-serif;
$font-plain: 			"Helvetica Neue", "Helvetica", sans-serif;
$font-glyph: 			"Icomoon";